div.leftColBackground { height: 80em; }
div.rightCol .sticker { height: 84em;}

.stickerHeading { padding-top: 1.5em !important; padding-bottom: 0.3em !important; }
#slogan { background-image: none !important; }