<a class="download-button" href="{{ page.pathprefix }}downloads/knockout-2.3.0.js">
    <p>Download: Production</p>
    <p class="smallprint">v2.3.0 - 15kb min+gz</p>
</a>

<div class="download-button">
	<!-- Hacky styling to avoid nested <a> tags. This will all be removed when v3 is released. -->
    <p><a href="{{ page.pathprefix }}downloads/knockout-3.0.0beta.js">Download: Beta</a></p>
    <p class="smallprint">
		<a href="{{ page.pathprefix }}downloads/knockout-3.0.0beta.js">v3.0.0 beta -</a>
		<a class="download-button-childlink" href='http://blog.stevensanderson.com/2013/07/09/knockout-v2-3-0-released-v3-0-0-beta-available/' target='_blank'>learn more</a>
   	</p>
</div>