<!-- Can have two of these side-by side, e.g. if we want to promote a beta -->
<div class="download-widget">
    <a class="download-button" href="{{ page.pathprefix }}downloads/knockout-3.3.0.js">
        <p>Production</p>
        <p class="smallprint">v3.3.0 - 21kb min+gz</p>
    </a>

    <a class="download-info" href="https://github.com/knockout/knockout/releases/tag/v3.3.0">release notes</a>
</div>

<div class="download-widget">
    <a class="download-button" href="{{ page.pathprefix }}downloads/knockout-3.4.0rc.js">
        <p>Preview</p>
        <p class="smallprint">v3.4.0rc</p>
    </a>

    <a class="download-info" href="https://github.com/knockout/knockout/releases/tag/v3.4.0-rc">learn more</a>
</div>