<h1>Introductory examples</h1>
<ul>
    <li>
        <strong><a href="helloWorld.html">Hello world</a></strong>
        <small>Working with <code>ko.observable</code> &amp; <code>ko.computed</code></small>
    </li>
    <li>
        <strong><a href="clickCounter.html">Click counter</a></strong>
        <small>Using declarative bindings and how KO tracks dependencies automatically</small>
    </li>
    <li>
        <strong><a href="simpleList.html">Simple list</a></strong>
        <small>Working with <code>ko.observableArray</code></small>
    </li>
    <li>
        <strong><a href="betterList.html">Better list</a></strong>
        <small>Combining more behaviors</small>
    </li>
    <li>
        <strong><a href="controlTypes.html">Control types</a></strong>
        <small>Reference: All HTML control types</small>
    </li>
    <li>
        <strong><a href="collections.html">Working with Collections</a></strong>
        <small>Working with arrays, including nested ones</small>
    </li>
    <li>
        <strong><a href="grid.html">Paged grid</a></strong>
        <small>Creating reusable components, i.e., plugins</small>
    </li>
    <li>
        <strong><a href="animatedTransitions.html">Animated transitions</a></strong>
        <small>Two simple ways to implement animated transitions (one of which is a custom binding)</small>
    </li>
</ul>

<h1>Detailed examples</h1>
<ul>
    <li>
        <strong><a href="contactsEditor.html">Contacts editor</a></strong>
        <small>Editing a nested list</small>
    </li>
    <li>
        <strong><a href="gridEditor.html">Editable grid</a></strong>
        <small>Using the 'foreach' binding and integrating with jQuery Validation</small>
    </li>
    <li>
        <strong><a href="cartEditor.html">Shopping cart screen</a></strong>
        <small>Includes nested dropdowns and a string formatting function</small>
    </li>
</ul>