<script type="text/javascript" src="{{ page.pathprefix }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ page.pathprefix }}downloads/knockout-3.1.0.js"></script>
<script type="text/javascript" src="{{ page.pathprefix }}js/cufon-yui.js"></script>
<script type="text/javascript" src="{{ page.pathprefix }}js/titilliummaps.font.js"></script>
<script type="text/javascript" src="{{ page.pathprefix }}js/json2.js"></script>

<!--[if lt IE 7]>
<script defer type="text/javascript" src="{{ page.pathprefix }}js/ie6pngfix.js"></script>
<![endif]-->

<script type="text/javascript" src="{{ page.pathprefix }}js/syntaxhighlighter_3.0.83/scripts/shCore.js"></script> 
<script type="text/javascript" src="{{ page.pathprefix }}js/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script> 
<script type="text/javascript" src="{{ page.pathprefix }}js/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script> 
<link type="text/css" rel="stylesheet" href="{{ page.pathprefix }}js/syntaxhighlighter_3.0.83/styles/shThemeFadeToGrey.css"/>  

<script type="text/javascript">
    $(function() {
        // Fancy fonts
        Cufon.replace('.titillium');
        Cufon.replace('.engraved', {
            textShadow: 'rgba(253, 224, 217, 0.45) 1.2px 1px'	
        });
        
        // Syntax highlighting
        $("pre > code").each(function() {
            var codeText = $(this).text();
            $(this).parent().text(codeText).addClass("brush:js");
        });
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.defaults['gutter'] = false;
        SyntaxHighlighter.all();
        
        // Highlight current top menu item
        var desiredMenuItem = '{{ page.mainmenukeyoverride }}' || '{{ page.mainmenukey }}';
        $(".main-menu a[rel=" + desiredMenuItem + "]").addClass("active");
        
        // Highlight current left-hand-nav menu item
        var urlFilename = location.href.match(/\/([^\/]+)$/);
        if (urlFilename) {
            $(".leftColContents li:has(a[href$=" + urlFilename[1] + "])").addClass("active");
        }
    });
</script> 