<h2>Run it:</h2>
<div class="liveExample">
	<p>
    Choose a ticket class:
    <select data-bind="options: tickets, 
                       optionsCaption: 'Choose...',
                       optionsText: 'name',
                       value: chosenTicket"></select>
	</p>
    <p data-bind="template: 'ticketTemplate'"></p>
        
    <script id="ticketTemplate" type="text/x-jquery-tmpl">
        {{'{{'}}if chosenTicket}}
            You have chosen <b>${ chosenTicket().name }</b>
            ($${ chosenTicket().price })
            <button data-bind="click: resetTicket">Clear</button>
        {{'{{'}}/if}}
    </script>
    
    <script type="text/javascript">
        var viewModel = {
            tickets: [
                { name: "Economy", price: 199.95 },
                { name: "Business", price: 449.22 },
                { name: "First Class", price: 1199.99 }
            ],
            chosenTicket: ko.observable(),
            resetTicket: function() { this.chosenTicket(null) }
        };
        ko.applyBindings(viewModel);
    </script>	
</div>

<h2>Source code:</h2>
<img src="img/homepage-example.png" />