<h2>Run it:</h2>
<div id="liveExample" class="liveExample">
    <p>
    Choose a ticket class:
    <select data-bind="options: tickets, 
                       optionsCaption: 'Choose...',
                       optionsText: 'name',
                       value: chosenTicket"></select>
                       
    <button data-bind="enable: chosenTicket, 
                       click: resetTicket">Clear</button>
    </p>                   
    <p data-bind="with: chosenTicket">
        You have chosen <b data-bind="text: name"></b>
        ($<span data-bind="text: price"></span>)    
    </p>
    
    <script type="text/javascript">
        function TicketsViewModel() {
            this.tickets = [
                { name: "Economy", price: 199.95 },
                { name: "Business", price: 449.22 },
                { name: "First Class", price: 1199.99 }
            ];
            this.chosenTicket = ko.observable();
            this.resetTicket = function() { this.chosenTicket(null) }
        }
        ko.applyBindings(new TicketsViewModel(), document.getElementById("liveExample"));
    </script>	
</div>

<h2>Source code:</h2>
<img src="img/homepage-example.png" />