<div class="main-menu">
    <ul>
        <li><a rel="home" href="{{ page.pathprefix }}index.html">Home</a></li>
        <li><a rel="installation" href="{{ page.pathprefix }}downloads/index.html">Download / Install</a></li>
        <li><a rel="tutorials" href="http://learn.knockoutjs.com/">Tutorials</a></li>
        <li><a rel="examples" href="{{ page.pathprefix }}examples/">Live examples</a></li>
        <li><a rel="documentation" href="{{ page.pathprefix }}documentation/introduction.html">Documentation</a></li>
        <li><a href="http://groups.google.com/group/knockoutjs">Forum</a></li>
        <li><a href="http://github.com/SteveSanderson/knockout">Source</a></li>
    </ul>
</div>        	
<div class="clear"></div>