body, td { 	margin: 0; padding: 0; font: 1.05em Georgia,"Times New Roman",Times,serif; }
body { background-image: url(resources/background-stripes.png); background-repeat: repeat-x; background-position: 0 0.2em; }

a img { border-width: 0 }

#header { width:77%; margin: auto; margin-top: 1.5em; }
div.menu { float:right; margin-top: 50px; color: Silver; }
div.menu a { margin: 0 0.7em 0 0.7em; color: #444; text-decoration: none; }

h1  
{
	color: #555;
	border-bottom: 1px solid #999;
	padding: 0 0 0.2em 0;
	margin: 0 0 0.8em 0;
	font-weight: 400;
	font-size: 2.2em;
}

h1 a { float:right; font-size: 0.4545em; padding-top: 1.2em; text-decoration: none; font-style: italic; color: #0070EF }
h1 a:hover { text-decoration: underline; }

tt { font-size: 1.2em; color: #CC5500; }

li { margin: 0.3em 0 0.3em 0; }

#main  
{
	width: 75%; margin: 1em auto; padding: 1.4em 1.4em 2.5em 1.4em; background-color: #FAF6F3;
    min-height: 32.5em;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    -moz-box-shadow: 0 0.25em 1em #888;
    -webkit-box-shadow: 0 0.25em 1em #999;
}

hr { margin-top: 2em; margin-bottom:2em; height: 1px; color: #aaa; background-color: #aaa; border: 0; }